body{
    background-color: rgb(17, 86, 165);
    text-align: center;
    color: rgb(157, 224, 245);
    font-family: monospace;
}

a {
    color:cornsilk;
    text-decoration: none;
}

header{
    font-size: 2em;
}

a:hover {
    color: rgb(20, 183, 220);
}

main {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 2.5em;
}

li {
    font-size: 1.75em;
}


img{
    width: 60%;
}

figure{
    text-align: center;
    font-style: italic;
}

.left-aligned {
    text-align: left;
}

