
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e9eba0;
    color: #060606;
    margin: 0;
    padding: 0;
}


header {
    background-color: #6bbddf;
    color: rgb(236, 171, 118);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(179, 245, 171);
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
